

<div>
  <h1>Login</h1>

  <div style="display: flex; justify-content: center; gap: 20px">
    <%= form_with  do |f| %>
      <div style="margin: 10px">
        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div style="margin: 10px">
        <button><%= f.submit "Login" %></button>
      </div>
    <% end %>
  </div>

</div>



