
  <div style="display: flex; justify-content: center">

    <div style="border: #730E15 solid 2px; margin: 10px; width: fit-content">
  <h1>Login</h1>

  <% if flash[:notice] %>
    <p><%=flash[:alert] %></p>
  <% end %>
  <% if flash[:alert].present? %>
    <p style="border: #730E15 solid 3px"><%=flash[:alert] %></p>
  <% end %>

  <div style="display: flex; justify-content: center; gap: 20px">
    <%= form_with scope: :session,  url: session_index_path, data: {turbo: false}  do |f| %>
      <div style="margin: 10px">
        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <p style="margin: 10px">
       <%=  f.submit "Login" %>
      </p>
    <% end %>
  </div>
    </div>
</div>



