
<div style="display: flex; justify-content: center">

<div style="border: #730E15 solid 2px; margin: 10px; width: fit-content">
  <h1>Create new user</h1>
  <%= form_with model: @user do |form|%>
    <div style="margin:10px " >
        <span>
    <%= form.label :name, "Your name" %>
          <%= form.text_field :name%>
          <%= render "error_msg", user: @user, for_prop: :name %>
  </span>
      <span>
      <%= form.label :nickname, "Your nick" %>
        <%= form.text_field :nickname%>
        <%= render "error_msg", user: @user, for_prop: :nickname %>
    </span>
    </div>
    <p>
      <%= form.label :email, "Your email" %>
      <%= form.text_field :email%>
    </p>
    <%= render "error_msg", user: @user, for_prop: :email %>

    <p>
      <%= form.label :password, "Your password" %>
      <%= form.text_field :password%>
    </p>
    <%= render "error_msg", user: @user, for_prop: :password %>
  <button type="submit"> Register </button>
  <% end %>

</div>
</div>