<%= form_with model: post do |form| %>
<div style="border: #730E15 2px solid; width: fit-content">
  <div>
    <%= form.label :title %> <br>
    <%= form.text_field :title %>
    <% post.errors.full_messages_for(:title).each do |msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %> <br>
    <%= form.text_area :body %>

   <% post.errors.full_messages_for(:body).each do |msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </div>

  <div style="margin: 6px">
    <%= form.label :status %>
    <%= form.select :status, Visible::VALID_STATUSES, selected: post.status || "public" %>
  </div>
  <%= form.submit %>
</div>
  <% end %>