<div style="text-align: start" class="wrapper">

<div>
  <div style=" margin: 5px; ">
    Our blog has <%= User.count %> users:
    <% User.all.each do |user| %>
      <span style="font-style: italic"><%= user.nickname %>, </span>
    <% end %> and <%= Post.public_count %> posts
  </div>

  <h1>Posts</h1>

  <div>
    <ul style="display: flex; flex-direction: column; align-content: center">
      <% @posts.each do |post| %>
        <% unless post.archived? %>
          <div style="border: #730E15 2px solid; border-radius: 50px; background-color: antiquewhite; margin: 5px">
            <%=  link_to post.title, post %>
            <p><%= post.body %></p>
            <i> writed: </i>
            <i> <%= l(post.created_at, format: :short) %></i>


          </div>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>

</div>

