<div style="text-align: start" class="wrapper">
<div style=" padding: 20px">
  <nav>
    <%= link_to "Create new user", new_user_path %>
    <%= link_to "Create new post", new_post_path %>
    <%= link_to 'Login', session_new_path %>

  </nav>
</div>

<div>
  <div style="border: #730E15 2px solid; width: fit-content; margin: 5px; ">
    <p>Our blog has <%= User.count %> users: </p>
    <% User.all.each do |user| %>
      <span style="font-style: italic"><%= user.nickname %>, </span>
    <% end %>

    <p> and <%= Post.public_count %> posts </p>
  </div>

  <h1>Posts</h1>
  <ul>
    <% @posts.each do |post| %>
      <% unless post.archived? %>
        <div style="border: #730E15 2px solid; width: fit-content; margin: 5px">
          <li style="background-color: bisque;">
            <%=  link_to post.title, post %>
          </li>
          <p> <%= post.body %></p>
          <p><%= post.title %></p>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>

</div>

