<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #DADADA">
    <% if flash[:notice].present? %>
      <p style="border: #730E15; background-color: burlywood; color: #730E15"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
